body {
  margin: 0;
}
.heading_name{
  margin-top: 0;
  margin-left: 25px;
  background-color: #bd9354;
  height: 300px;
  width: 950px;
  border-bottom: solid 4px;
}
.name{
  margin: 0;
  font-size: 50px;
}

.tdhn {
  margin: 0;
  display: inline-block;
}
.left-side {
  margin-top: 0;
  background-color: #e3d18a;
  height: 1200px;
  width: 300px;
  margin-left: 25px;
  margin-right: 0;
  padding: 0 20px 20px 20px;
  display: inline-block;

}
.john_image{
margin: -15px 0 0 0;
  padding: 50px;

}
.contact{
  margin-right: 0;
  padding: 10px;
  background-color: white;
  width: 280px;
  height: 50px;
}
.personal_profile{
  margin-right: 0;
  padding: 10px;
  background-color: white;
  width: 280px;
  height: 50px;
}
.skillset{
  margin-right: 0;

  padding: 10px;
  background-color: white;
  width: 280px;
  height: 50px;
}
.objective_header {
  margin-top: 30px;
margin-left: 25px;
  background-color: #bd9354;
  height:50px;
  width: 950px;

}
.h2objective {

  padding-left: 410px;
  padding-right: 400px;
  display: inline-block;
  margin: 2px 0 0 0;
}
.objective_value {
  margin-top: 0;
margin-left: 25px;

  height:50px;
  width: 950px;
  text-align: justify;
}
.previous_education_header {
  margin: 0 0 0 25px;

  background-color: #bd9354;
  height:50px;
  width: 950px;
}
.h2pe {
  padding-left: 340px;
  padding-right: 330px;
  display: inline-block;
  margin: 0;
}
.character_reference_header {
  margin: 0 0 20px 25px;

  background-color: #bd9354;
  height:50px;
  width: 950px;
}
.h2cr {
  padding-left: 325px;
  padding-right: 300px;
  display: inline-block;
  margin: 0;
}
h1 {
margin: 10px 0 0 0;
text-align: center;
padding: 85px;

}
h2{

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 75px;
  display: inline-block;
  padding: 10px;
}
.pp{

  margin-top: -5px;
  margin-bottom: 0;
  margin-left: 75px;
  display: inline-block;
  padding: 5px;
}
.ppdetails{
  margin-right: 70px;
}
.ppvalue {
font-weight: bold;
}
.skillset_value{
  padding: 20px;

}
.skillset_value_div {
  margin-top: -15px;
}
.cd{
  margin-left: 24px;
}
.pp2 {
  margin-left: 10px;
}
li {
  margin-left: 10px;
}
.td2pevalue {
  display: inline-block;
  margin-left: 50px;
}
.crvalue {
  margin-left: 25px;
}
.tdcrvalue2 {
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
}
